body{
    margin-top: 100px;
}
ul {
    padding: 0;
    margin-bottom: 0;
}
/* aqui le damos estilo de bordes a las tareas */
ul li {
    border: 1px solid gray;
    padding: 5px;
}
/* aqui le damos text-center al h1 */
h1 {
    text-align: center;
}
input{
    border: none; width: 100%;
}